<footer class="page-footer pink darken-3">
    <div class="container">
        <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">PQRS System | ABC</h5>
                <p class="grey-text text-lighten-4">
                    <big>Bienvenido al sistemas de PQR. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, ducimus.</big>
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Developers</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/Adal1013">
                      <big><i class="fab fa-github"></i> Adalberto Avila</big>
                  </a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/samir04m">
                      <big><i class="fab fa-github"></i> Samir Mejia</big>
                  </a></li>
                </ul>
              </div>
        </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">MaterializeCss</a>
    </div>
  </div>
</footer>
