<div class="container">
    <div class="row">
        <br>
        <div class="col s12 offset-m1 m10">
            <div class="card-panel  z-depth-4">
				<h5 class="center">Crear Usuario</h5>
                <%= render 'form' %>
            </div>
	    </div>
	</div>
</div>
