<div class="container">
    <div class="row">
        <br>
        <div class="col s12 offset-m4 m4">
            <div class="card-panel">
				<h5 class="center">Crear Rol</h5>
                <%= render 'form', rol: @rol %>
                <%= link_to 'Back', rols_path %>
            </div>
	    </div>
	</div>
</div>
