<div class="container">
    <div class="row">
        <br>
        <div class="col s12">
            <div class="card-panel">
				<h5 class="center">PQRs</h1>
        
                <%= render 'form', pqr: @pqr %>

                <%= link_to 'Back', pqrs_path %>

            </div>
	    </div>
	</div>
</div>
