<div class="container">
    <div class="row">
        <br>
        <div class="col s12 offset-m3 m6">
            <div class="card-panel z-depth-4">
				<h5 class="center">Editar Registro</h1>

                <%= render 'form', log: @log %>

                <%= link_to 'Show', @log %> |
                <%= link_to 'Back', logs_path %>
            </div>
	    </div>
	</div>
</div>
